<main>
  <div class="content-wrapper">
    <section class="features-section">
      <img src="assets/images/Illustration 2.svg" alt="" />
      <div class="features-headers">
        <h3>We Provide Many Features You Can Use</h3>
        <p>
          You can explore the features that we provide with fun and have their
          own functions each feature.
        </p>
        <div class="check-circle-container">
          <div class="check-circle">
            <i class="fa-solid fa-circle-check"></i>
            <p>Powerfull online protection.</p>
          </div>
          <div class="check-circle">
            <i class="fa-solid fa-circle-check"></i>
            <p>Internet without borders.</p>
          </div>
          <div class="check-circle">
            <i class="fa-solid fa-circle-check"></i>
            <p>Supercharged VPN</p>
          </div>
          <div class="check-circle">
            <i class="fa-solid fa-circle-check"></i>
            <p>No specific time limits.</p>
          </div>
        </div>
      </div>
    </section>

    <!-- choose-your-plan-section -->

    <section class="choose-your-plan-section">
      <h3>Choose Your Plan</h3>
      <p>
        Let's choose the package that is best for you and explore it happily and
        cheerfully.
      </p>
      <div class="plan-types">
        <div>
          <img src="assets/images/Standard.svg" alt="" />
          <h5>Free Plan</h5>
          <div class="ok-titles">
            <div>
              <i class="fa-solid fa-check"></i>
              <p>Unlimited Bandwitch</p>
            </div>
            <div>
              <i class="fa-solid fa-check"></i>
              <p>No Traffic Logs</p>
            </div>
            <div>
              <i class="fa-solid fa-check"></i>
              <p>Works on All Devices</p>
            </div>
            <div>
              <i class="fa-solid fa-check"></i>
              <p>Unlimited Bandwitch</p>
            </div>
          </div>
          <div class="plan-types-buttons-first">
            <h4>Free</h4>
            <button>Select</button>
          </div>
        </div>
        <div>
          <img src="assets/images/Standard.svg" alt="" />
          <h5>Standard Plan</h5>
          <div class="ok-titles">
            <div>
              <i class="fa-solid fa-check"></i>
              <p>Unlimited Bandwitch</p>
            </div>
            <div>
              <i class="fa-solid fa-check"></i>
              <p>Yes Traffic Logs</p>
            </div>
            <div>
              <i class="fa-solid fa-check"></i>
              <p>Works on All Devices</p>
            </div>
            <div>
              <i class="fa-solid fa-check"></i>
              <p>Unlimited Bandwitch</p>
            </div>
            <div>
              <i class="fa-solid fa-check"></i>
              <p>Connect Anyware</p>
            </div>
          </div>
          <div class="plan-types-buttons-second">
            <h4>$9<span>/ mo</span></h4>
            <button>Select</button>
          </div>
        </div>
        <div>
          <img src="assets/images/Standard.svg" alt="" />
          <h5>Premium Plan</h5>
          <div class="ok-titles">
            <div>
              <i class="fa-solid fa-check"></i>
              <p>Unlimited Bandwitch</p>
            </div>
            <div>
              <i class="fa-solid fa-check"></i>
              <p>Encrypted Connection</p>
            </div>
            <div>
              <i class="fa-solid fa-check"></i>
              <p>Yes Traffic Logs</p>
            </div>
            <div>
              <i class="fa-solid fa-check"></i>
              <p>Works on All Devices</p>
            </div>
            <div>
              <i class="fa-solid fa-check"></i>
              <p>Connect Anyware</p>
            </div>
            <div>
              <i class="fa-solid fa-check"></i>
              <p>Get New Features</p>
            </div>
          </div>
          <div class="plan-types-buttons-third">
            <h4>$12<span>/ mo</span></h4>
            <button>Select</button>
          </div>
        </div>
      </div>
    </section>
    <section class="map-section">
      <h2>Huge Global Network of Fast VPN</h2>
      <p>
        See <span>LaslesVPN</span> everywhere to make it easier for you when you
        move locations.
      </p>
      <img src="assets/images/Huge Global.svg" alt="world map" id="world-map" />
      <img src="assets/images/Sponsored.svg" alt="partners logos" />
    </section>
    <section>
      <div class="customers">
        <h2>Trusted by Thousands of Happy Customer</h2>
        <p>
          These are the stories of our customers who have joined us with great
          pleasure when using this crazy feature.
        </p>
        <div class="customer-prof-container">
          <div class="customer-profile">
            <div class="customer-personal-inf">
              <img
                src="assets/images/Ellipse 175.svg"
                alt="customer-profile-photo"
              />
              <div class="customer-name">
                <h3>Viezh Robert</h3>
                <p>Warsaw, Poland</p>
              </div>
              <div class="customer-star">
                <p>4.5</p>
                <i class="fa-solid fa-star"></i>
              </div>
            </div>
            <p>
              “Wow... I am very happy to use this VPN, it turned out to be more
              than my expectations and so far there have been no problems.
              LaslesVPN always the best”.
            </p>
          </div>
          <div class="customer-profile">
            <div class="customer-personal-inf">
              <img
                src="assets/images/Ellipse 175 (1).svg"
                alt="customer-profile-photo"
              />
              <div class="customer-name">
                <h3>Yessica Christy</h3>
                <p>Shanxi, China</p>
              </div>
              <div class="customer-star">
                <p>4.5</p>
                <i class="fa-solid fa-star"></i>
              </div>
            </div>
            <p>
              “I like it because I like to travel far and still can connect with
              high speed.”.
            </p>
          </div>
          <div class="customer-profile">
            <div class="customer-personal-inf">
              <img
                src="assets/images/Ellipse 175 (2).svg"
                alt="customer-profile-photo"
              />
              <div class="customer-name">
                <h3>Viezh Robert</h3>
                <p>Warsaw, Poland</p>
              </div>
              <div class="customer-star">
                <p>4.5</p>
                <i class="fa-solid fa-star"></i>
              </div>
            </div>
            <p>
              “Wow... I am very happy to use this VPN, it turned out to be more
              than my expectations and so far there have been no problems.
              LaslesVPN always the best”.
            </p>
          </div>
        </div>
      </div>
      <div class="customer-navigation">
        <div class="navigation-dots">
          <img src="assets/images/Union.svg" alt="" />
          <img src="assets/images/Ellipse 172.svg" alt="" />
          <img src="assets/images/Ellipse 172.svg" alt="" />
          <img src="assets/images/Ellipse 172.svg" alt="" />
        </div>
        <div class="navigation-arrows">
          <i class="fa-solid fa-circle-chevron-left left"></i>
          <i class="fa-solid fa-circle-chevron-right"></i>
        </div>
      </div>
    </section>
  </div>
</main>
